body {
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
// p {
//     margin: 0;
// }
.center {
    padding-left: calc(50vw - 580px);
    padding-right: calc(50vw - 580px);
}
.btn, .btn-solid, .btn-border {
    display: block;
    width: 200px;
    height: 64px;
    transition: .3s;
    cursor: pointer;
    &-solid {
        background: #E43071;
        color: #F7F7FC;
        border-radius: 40px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        &:hover, &:focus {
            background: #BE285E;
        }
    }
    &-border {
        background: #FFF;
        border: 2px solid #E43071;
        color: #E43071;
        border-radius: 40px;
        &:hover, &:focus {
            border-color: #BE285E;
            color: #BE285E;
        }
    }
}
.logo {
    color: #FFF;
    text-decoration: none;
    font-size: 40px;
    font-weight: 800;
    & span {
        color: #FFC1D8;
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.radio {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    top: 157px;
    height: 20px;
    &__label::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background: #FFF;
        border-radius: 50%;
        transition: .3s;
        cursor: pointer;
    }
    &__input:checked + &__label::before {
        width: 17px;
        height: 17px;
        background: #E43071;
    }
}